ARCHIPEL_NODE_NAME=node-1
ARCHIPEL_TCP_PORT=7777
ARCHIPEL_UDP_MULTICAST_IP=239.255.42.99
ARCHIPEL_UDP_MULTICAST_PORT=6000
ARCHIPEL_DISCOVERY_INTERVAL_SEC=30
ARCHIPEL_PEER_TIMEOUT_SEC=90
ARCHIPEL_KEEPALIVE_INTERVAL_SEC=15
ARCHIPEL_DATA_DIR=.archipel
ARCHIPEL_KEYS_DIR=.archipel/keys
ARCHIPEL_AI_ENABLED=false

ARCHIPEL_DISCOVERY_HMAC_KEY=change-me
ARCHIPEL_HANDSHAKE_MAX_SKEW_MS=120000
